
<div class="col-sm-4 offset-sm-4 mt-5">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>
  <p><%= link_to "Edit article", edit_article_path, class: "btn btn-outline-success text-decoration-none" %></p>
</div>
